//colores navbar
$onyx    : #3D2B3D;
$white   : #FFFFFF;
$wenge   : #536D5C; //colores form_input
$platinum: #E8EDDF;
$gray    : #CFDBD5; //colores footer
$red     : #A44A3F; //Fonts
$roboto  : 'Roboto', sans-serif; //font weights
$regular : 400;
$bold    : 700;