.footer {
  height          : 5rem;
  background-color: #A44A3F;
  color           : $white;
  text-align      : center;
  padding         : 2rem;

  &__item {
    text-decoration: none;
    color          : white;
    padding-right  : 1rem;
  }

  &__text {
    font-family: $roboto;
  }
}